In [66]:
import pandas as pd

In [67]:
df = pd.read_csv("Downloads\India Agriculture Crop Production.csv")

In [68]:
df.head(10)

,State,District,Crop,Year,Season,Area,Area Units,Production,Production Units,Yield
0,Andaman and Nicobar Islands,NICOBARS,Arecanut,2001-02,Kharif,1254.0,Hectare,2061.0,Tonnes,1.643541
1,Andaman and Nicobar Islands,NICOBARS,Arecanut,2002-03,Whole Year,1258.0,Hectare,2083.0,Tonnes,1.655803
2,Andaman and Nicobar Islands,NICOBARS,Arecanut,2003-04,Whole Year,1261.0,Hectare,1525.0,Tonnes,1.209358
3,Andaman and Nicobar Islands,NORTH AND MIDDLE ANDAMAN,Arecanut,2001-02,Kharif,3100.0,Hectare,5239.0,Tonnes,1.690000
4,Andaman and Nicobar Islands,SOUTH ANDAMANS,Arecanut,2002-03,Whole Year,3105.0,Hectare,5267.0,Tonnes,1.696296
5,Andaman and Nicobar Islands,SOUTH ANDAMANS,Arecanut,2003-04,Whole Year,3118.0,Hectare,5182.0,Tonnes,1.661963
6,Andaman and Nicobar Islands,NICOBARS,Banana,2002-03,Whole Year,213.0,Hectare,1278.0,Tonnes,6.000000
7,Andaman and Nicobar Islands,NICOBARS,Banana,2003-04,Whole Year,266.0,Hectare,1763.0,Tonnes,6.627820
8,Andaman and Nicobar Islands,SOUTH ANDAMANS,Banana,2002-03,Whole Year,1524.0,Hectare,10882.0,Tonnes,7.140420
9,Andaman and Nicobar Islands,SOUTH ANDAMANS,Banana,2003-04,Whole Year,1530.0,Hectare,11558.0,Tonnes,7.554248

In [69]:
df.dtypes

State                object
District             object
Crop                 object
Year                 object
Season               object
Area                float64
Area Units           object
Production          float64
Production Units     object
Yield               float64
dtype: object

In [71]:
df.describe(include = 'all')

,State,District,Crop,Year,Season,Area,Area Units,Production,Production Units,Yield
count,345407,345407,345375,345407,345406,3.453740e+05,345407,3.404140e+05,345407,345374.000000
unique,36,729,56,24,6,NaN,1,NaN,3,NaN
top,Uttar Pradesh,BILASPUR,Rice,2019-20,Kharif,NaN,Hectare,NaN,Tonnes,NaN
freq,44781,1244,21611,19296,138400,NaN,345407,NaN,331686,NaN
mean,NaN,NaN,NaN,NaN,NaN,1.167019e+04,NaN,9.583711e+05,NaN,79.407569
std,NaN,NaN,NaN,NaN,NaN,4.583843e+04,NaN,2.152986e+07,NaN,916.628744
min,NaN,NaN,NaN,NaN,NaN,4.000000e-03,NaN,0.000000e+00,NaN,0.000000
25%,NaN,NaN,NaN,NaN,NaN,7.400000e+01,NaN,8.700000e+01,NaN,0.546742
50%,NaN,NaN,NaN,NaN,NaN,5.320000e+02,NaN,7.170000e+02,NaN,1.000000
75%,NaN,NaN,NaN,NaN,NaN,4.110000e+03,NaN,7.176000e+03,NaN,2.467080
max,NaN,NaN,NaN,NaN,NaN,8.580100e+06,NaN,1.597800e+09,NaN,43958.333333

In [72]:
df.isna().sum()

State                  0
District               0
Crop                  32
Year                   0
Season                 1
Area                  33
Area Units             0
Production          4993
Production Units       0
Yield                 33
dtype: int64

In [74]:
df_filtered = df.dropna()

In [75]:
df_filtered.isna().sum()

State               0
District            0
Crop                0
Year                0
Season              0
Area                0
Area Units          0
Production          0
Production Units    0
Yield               0
dtype: int64

In [60]:
# Calculate Mean
mean_Production = df['Production'].mean()

# Calculate Median
median_Production = df['Production'].median()

# Calculate Mode
mode_Production = df['Production'].mode()

print(f"\nMean Production: {mean_Production}")
print(f"Median Production: {median_Production}")
print(f"Mode Production: {mode_Production.values[0]}")

Mean Production: 958371.1486639853
Median Production: 769.0
Mode Production: 1.0

In [61]:
conversion_to_tonnes = {
    'Tonnes':1,
    'Bales':0.25,
    'Nuts':0.0005
}
df['Production_Tonnes'] = df.apply(
    lambda row:row['Production']*conversion_to_tonnes[row['Production Units']] 
    if row['Production Units'] in conversion_to_tonnes else row['Production'],
    axis=1
)

In [62]:
df

,State,District,Crop,Year,Season,Area,Area Units,Production,Production Units,Yield,Production_Tonnes
0,Andaman and Nicobar Islands,NICOBARS,Arecanut,2001-02,Kharif,1254.000000,Hectare,2061.000000,Tonnes,1.643541,2061.000000
1,Andaman and Nicobar Islands,NICOBARS,Arecanut,2002-03,Whole Year,1258.000000,Hectare,2083.000000,Tonnes,1.655803,2083.000000
2,Andaman and Nicobar Islands,NICOBARS,Arecanut,2003-04,Whole Year,1261.000000,Hectare,1525.000000,Tonnes,1.209358,1525.000000
3,Andaman and Nicobar Islands,NORTH AND MIDDLE ANDAMAN,Arecanut,2001-02,Kharif,3100.000000,Hectare,5239.000000,Tonnes,1.690000,5239.000000
4,Andaman and Nicobar Islands,SOUTH ANDAMANS,Arecanut,2002-03,Whole Year,3105.000000,Hectare,5267.000000,Tonnes,1.696296,5267.000000
...,...,...,...,...,...,...,...,...,...,...,...
345402,Manipur,IMPHAL WEST,Unkownn,2019-20,Rabi,11670.191258,Hectare,958371.148664,Tonnes,79.407569,958371.148664
345403,Manipur,SENAPATI,Unkownn,2019-20,Rabi,11670.191258,Hectare,958371.148664,Tonnes,79.407569,958371.148664
345404,Manipur,TAMENGLONG,Unkownn,2019-20,Rabi,11670.191258,Hectare,958371.148664,Tonnes,79.407569,958371.148664
345405,Manipur,THOUBAL,Unkownn,2019-20,Rabi,11670.191258,Hectare,958371.148664,Tonnes,79.407569,958371.148664
345406,Manipur,UKHRUL,Unkownn,2019-20,Rabi,11670.191258,Hectare,958371.148664,Tonnes,79.407569,958371.148664

In [22]:
df['Production'].max() - df['Production'].min()

1597800000.0

In [23]:
df['Production'].var()

456834056902104.56

In [24]:
df['Production'].std()

21373676.72867971

In [25]:
# Calculate Q1 (25th percentile) and Q3 (75th percentile)
Q1 = df['Production'].quantile(0.25)
Q3 = df['Production'].quantile(0.75)

# Calculate IQR
IQR = Q3 - Q1

print(f"Q1: {Q1}")
print(f"Q3: {Q3}")
print(f"IQR: {IQR}")

Q1: 90.0
Q3: 8146.0
IQR: 8056.0

In [26]:
# Define outlier thresholds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Identify outliers
outliers = df[(df['Production'] < lower_bound) | (df['Production'] > upper_bound)]

print(f"Number of outliers: {outliers.shape[0]}")
df['Production'].shape[0] - outliers.shape[0]

Number of outliers: 61987

283420

In [27]:
good = df[(df['Production'] > lower_bound) & (df['Production'] < upper_bound)]

In [28]:
good['Production'].shape[0]

283418

In [29]:
df['Production'].skew()

36.13710360089545

In [30]:
cov_matrix = df.cov()
print("Covariance matrix:")
print(cov_matrix)

Covariance matrix:
                           Area    Production         Yield  Production_Tonnes
Area               2.100961e+09  4.748788e+10  1.790457e+04       4.748788e+10
Production         4.748788e+10  4.568341e+14  8.568550e+09       4.568341e+14
Yield              1.790457e+04  8.568550e+09  8.401280e+05       8.568550e+09
Production_Tonnes  4.748788e+10  4.568341e+14  8.568550e+09       4.568341e+14

In [31]:
# Extract the covariance between Height and Weight
cov_area_yield = cov_matrix.loc['Area', 'Yield']
print("\nCovariance between Area and Yield:", cov_area_yield)

Covariance between Area and Yield: 17904.567382325007

In [32]:
corr_matrix = df.corr()
print("Corelation matrix:")
print(corr_matrix)

Corelation matrix:
                       Area  Production     Yield  Production_Tonnes
Area               1.000000    0.048472  0.000426           0.048472
Production         0.048472    1.000000  0.437376           1.000000
Yield              0.000426    0.437376  1.000000           0.437376
Production_Tonnes  0.048472    1.000000  0.437376           1.000000

In [33]:
# Extract the covariance between Height and Weight
corr_area_yield = corr_matrix.loc['Area', 'Yield']
print("\nCoreltion between Area and Yield:", corr_area_yield)

Coreltion between Area and Yield: 0.00042616929082565306